@font-face {
  font-family: "Nunito Sans";
  src: url(./NunitoSans_7pt-Medium.ttf);
}

:root {
  --Background: hsl(207, 26%, 17%);
  --Elements: hsl(209, 23%, 22%);
  --Text: hsl(0, 0%, 100%);
  --Input: hsl(0, 0%, 52%);
}

[data-theme="light"] {
  --Background: hsl(0, 0%, 98%);
  --Elements: hsl(0, 0%, 100%);
  --Text: hsl(200, 15%, 8%);
  --Input: hsl(0, 0%, 52%);
}
