:root {
  --Background: hsl(207, 26%, 17%);
  --Elements: hsl(209, 23%, 22%);
  --Shadow: hsl(209, 34%, 14%);
  --Text: hsl(0, 0%, 100%);
  --Input: hsl(0, 2%, 76%);
}

[data-theme="light"] {
  --Background: hsl(0, 0%, 98%);
  --Elements: hsl(0, 0%, 100%);
  --Shadow: hsl(0, 0%, 81%);
  --Text: hsl(200, 15%, 8%);
  --Input: hsl(0, 0%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Nunito Sans";
  min-height: 100vh;
  background-color: var(--Background);
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.app-container {
  width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 150px;
}

/* ===== HEADER ===== */

header {
  width: 100%;
  max-width: 1440px;
  height: 75px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Elements);
  padding-inline: 50px;
  z-index: 10;
  box-shadow: 0 0 20px 0px var(--Shadow);
}

header h1 {
  color: var(--Text);
}

header button {
  background-color: transparent;
  border: none;
  color: var(--Text);
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

header button:hover {
  opacity: 70%;
}

header button svg {
  font-size: 20px;
}

/* ===== MAIN ===== */

main {
  position: relative;
  top: 75px;
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FILTER CONTAINER */

.filter-container {
  padding-block: 25px;
  margin-block: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* search */
.search-input-container {
  background-color: var(--Elements);
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 20px 5px var(--Shadow);
  border-radius: 5px;
}

.search-input-container span {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-container span svg {
  color: var(--Input);
}

.search-input-container input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding-block: 10px;
  color: var(--Input);
  height: 100%;
  width: 100%;
}

.search-input-container input::placeholder {
  color: var(--Input);
}

/* select */
.select-input-container {
  position: relative;
  display: flex;
  width: 170px;
  height: 100%;
  box-shadow: 0 0 20px 5px var(--Shadow);
}

.select-input-container select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  padding: 15px;
  background-color: var(--Elements);
  color: var(--Text);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.select-input-container span {
  position: absolute;
  width: 40px;
  height: 100%;
  pointer-events: none;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Text);
}

/* CARD CONTAINER */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px 40px;
  width: 100%;
}

.link-card {
  display: flex;
  flex-direction: column;
  background-color: var(--Elements);
  width: 300px;
  height: 400px;
  text-decoration: none;
  color: var(--Text);
  line-height: 1.7em;
  border-radius: 6px;
  transition: 0.3s;
  box-shadow: 0 0 20px 5px var(--Shadow);
}

.link-card:hover {
  transform: scale(105%);
}

.flag-container {
  height: 50%;
}

.flag-container img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.details-container {
  padding: 20px;
  height: 50%;
}

.details-container h3 {
  padding-block: 10px;
}

/* DETAILS PAGE */

.details-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* back button */
.back-button-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.back-button-container span {
  height: 100%;
  display: flex;
  align-items: center;
}

.back-button-container span svg {
  font-size: 25px;
}

.back-button-container button {
  border: none;
  background-color: var(--Elements);
  color: var(--Text);
  width: 110px;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 20px 5px var(--Shadow);
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.back-button-container button:hover {
  opacity: 70%;
}

.back-button-container button:active {
  opacity: 50%;
}

/* details container */
.extra-details-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flag {
  width: 50%;
}

.flag img {
  height: 85%;
  box-shadow: 0 0 20px 5px var(--Shadow);
  object-fit: contain;
  object-position: left;
}

.details {
  width: 50%;
  color: var(--Text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.details-wrapper {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 30px;
}

.border-wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-block: 10px;
}

.border-wrapper div a button {
  margin: 5px;
  border: none;
  background-color: var(--Elements);
  color: var(--Text);
  min-width: 80px;
  padding: 10px 10px;
  box-shadow: 0 0 20px 5px var(--Shadow);
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.border-wrapper div a button:hover {
  opacity: 70%;
}

.border-wrapper div a button:active {
  opacity: 50%;
}
